.ColloquiMainDiv{
  padding-bottom: 75px;
}

.colloqui-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.colloquio-card {
  background-color: white;
  color: var(--normal-black-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  width: 320px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.colloquio-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.colloquio-card-icon{
  position: absolute;
  top:15px;
  right:15px;
  color:var(--primary-color-darker);
  transition: all 0.2s ease;
  cursor: pointer;
}

.colloquio-card-icon:hover{
  color:var(--primary-color-darker-sidebar);
  transition: all 0.2s ease;
}

.colloquio-card h3 {
  margin: 0 0 15px;
  font-size: 20px;
  color: var(--normal-black-color);
  text-align: center;
}

.colloquio-card p {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  word-wrap: break-word;
  /* Ensures long words break */
  overflow-wrap: break-word;
  /* Modern equivalent for word wrapping */
  word-break: break-word;
  /* Forces text to break and wrap */
  white-space: normal;
  /* Ensures text wraps to the next line */
}

.colloquio-card p strong {
  font-weight: bold;
  color: var(--primary-color-darker);
}

.colloquio-card .icon {
  font-size: 18px;
  color: var(--primary-color-darker);
}

.colloquio-card .note {
  margin-top: 15px;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 8px;
}

.colloquio-card .note strong {
  color: var(--primary-color-darker);
}

.colloqui-upper-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colloqui-search-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.search-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-button {
  background-color: var(--primary-color-darker);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--sidebar-transition);
}

.search-button:hover {
  background-color: var(--primary-color-darker-sidebar-hover);
}

.clear-button {
  background-color: var(--normal-gray-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--sidebar-transition);
  display: flex;
  align-items: center;
  gap: 5px;
}

.clear-button:hover {
  background-color: var(--primary-color-darker-sidebar-hover);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination button {
  background-color: var(--primary-color-darker);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--sidebar-transition);
}

.pagination button:disabled {
  background-color: var(--normal-gray-color);
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  color: var(--normal-black-color);
}


.colloqui-paziente-results{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20px 0px 20px;
}



.colloqui_paziente_card {
  background-color: white;
  color: var(--normal-black-color);
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  max-height: 75px;
  transition: all 0.3s ease;
}

.colloqui_paziente_card.expanded {
  max-height: 600px;
  transition: all 0.3s ease;
}

.colloqui_paziente_toggle {
  color: var(--primary-color-darker);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.colloqui_paziente_card.expanded .colloqui_paziente_toggle {
  padding-right: 5px;
  transform: rotate(180deg);
}

.colloqui_paziente_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.colloqui_paziente_content_first{
  display: flex;
  gap: 30px;
}

.colloqui_paziente_content_second{
  font-size: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.colloqui_paziente_content p {
  font-size: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.colloqui_paziente_content p strong {
  font-weight: bold;
  color: var(--primary-color-darker);
}


