.Pazienti_MainDiv {
    min-height: 100vh;
    height: 100%;
    padding-bottom: 30px;
}

.Pazienti_MainDiv_Upperbar {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.pazienti_upper_bar {
    width: 90%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.152);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.pazienti_upper_bar_addUser {
    font-size: 20px;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-darker);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.pazienti_upper_bar_addUser:hover {
    transform: rotate(360deg);
    background-color: var(--primary-color);
    transition: all 0.4s ease-in-out;
}

.Pazienti_List_Div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.paziente_card {
    background-color: rgb(255, 255, 255);
    width: 270px;
    height: 220px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px var(--primary-color);
    position: relative;
}

.paziente_card_icon {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.paziente_card_main {
    width: 100%;
    display: flex;
}

.paziente_card_main_circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.212);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--primary-color);
    color: white;
}

.paziente_card_main_gen {
    padding-left: 10px;
    font-weight: 500;
    font-size: 17px;
}

.paziente_card_age_phone {
    padding-top: 10px;
}

.paziente_card_age_phone span {
    font-weight: 650;
    color: rgb(50, 50, 50);
}


.paziente_card_main_active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.paziente_card_main_active.green {
    background-color: green;
}

.paziente_card_main_active.red {
    background-color: red;
}

.paziente_modal_main_div {
    margin-right: 50px;
    position: relative;
    padding-top: 10px;
    min-width: 300px;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.212);
    padding: 15px;
    border-radius: 15px;
}


.paziente_modal_main {
    padding-left: 10px;
    width: fit-content;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.37);
}

.paziente_modal_main_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.212);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    background-color: var(--primary-color);
    color: white;
}

.paziente_modal_main_gen {
    padding-left: 10px;
    font-weight: 500;
    font-size: 17px;
}

.paziente_modal_id {
    margin-top: 10px;
    position: absolute;
    top: -15px;
    left: -10px;
    background-color: var(--primary-color-darker);
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.PazientePage_MainDiv {
    padding-left: 20px;
    padding-top: 20px;
}

.paziente_modal_main_name {
    font-size: 25px;
    font-weight: 650;
    padding-top: 10px;
    color: var(--normal-black-color);
}

.paziente_modal_main_email {
    color: var(--normal-gray-color);
}

.paziente_modal_main_gen button {
    margin-top: 20px;
}

.paziente_modal_main_left {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    overflow-x: auto;
    scrollbar-width: 100%;
    gap: 10px;
}

.paziente_info_card {
    padding: 10px;
    padding-right: 200px;
    width: 200px;
}

.paziente_info_card_title {
    font-size: 15px;
    color: var(--normal-gray-color);
    white-space: nowrap;
}

.paziente_info_card_desc {
    padding-top: 5px;
    font-size: 17px;
    color: var(--normal-black-color);
    font-weight: 600;
    white-space: nowrap;
}

.pazienti_intro_list {
    display: flex;
    gap: 20px;
    padding-left: 20px;
}

.pazienti_intro_div {
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.212);
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    font-weight: 650;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.pazienti_intro_div:hover {
    background-color: rgb(247, 247, 247);
    transition: all 0.2s ease-in-out;
}

.pazienti_intro_div a {
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    transition: all 0.2s ease;
}

.pazienti_intro_div:hover a {
    color: var(--primary-color-darker);
    transition: all 0.2s ease;
}

.paziente_add_main {
    padding-left: 15px;
    padding-right: 15px;
}

.paziente_add_main_form {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.paziente_add_main_form_lower {
    width: 100%;
    display: flex;
    gap: 20px;
}

.paziente_add_form_group {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    width: 100%;
}

.paziente_imp_actions_main_div button{
    width: 180px;
}

.paziente_imp_actions_main_div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.paziente_imp_actions_main_div_upper{
    margin-top: 50px;
    padding-left: 15px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.226);
}

.paziente_imp_actions_main_div_upper h1{
    font-size: 15px;
    font-weight: 700;
    color: var(--normal-color-color);
    padding-bottom: 5px;
}




.paziente_modal_main_left_icon{
    display: none;
}









/*APPUNTAMENTI*/
.pazienti_appuntamenti_div{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-top: 50px;
}

.pazienti_appuntamenti_div_inner{
    width: 90%;
    height: 100%;
}

.pazienti_appuntamenti_div_calendar{
    width: 100%;
    min-height: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 70px;
}
.pazienti_appuntamenti_div_inner_calendar{
    width: 90%;
    height: 90%;
}

.AppuntamentiMain{
    padding-top: 0px;
    padding-bottom: 0px;
}













@media screen and (max-width: 730px) {


    .paziente_modal_main_left{
        position: relative;
    }

    .paziente_modal_main_left_icon{
        position: absolute;
        display: block;
        top:0;
        right:0;
        font-size: 13px;
    }


    .paziente_modal_main {
        padding: 10px;
        width: 100%;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 0px;
    }

    .PazientePage_MainDiv {
        padding-top: 10px;
    }

    .paziente_modal_main_div {
        margin-right: 0px;
        position: relative;
        padding-top: 0px;
        min-width: 300px;
        width: 95%;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.212);
        padding: 15px;
        border-radius: 15px;
    }

    .paziente_modal_main_gen{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .paziente_modal_main_gen button {
        margin-top: 20px;
    }


    .paziente_add_main_form_lower {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}